@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../develop/fonts/roboto-regular-webfont-webfont.woff2) format('woff2'),
         url(../develop/fonts/roboto-regular-webfont-webfont.woff) format('woff'),
         url(../develop/fonts/roboto-regular-webfont-webfont.ttf) format('ttf');
}

@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 900;
    src: url(../develop/fonts/roboto-medium-webfont-webfont.woff2) format('woff2'),
         url(../develop/fonts/roboto-medium-webfont-webfont.woff) format('woff'),
         url(../develop/fonts/roboto-medium-webfont-webfont.ttf) format('ttf');
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    font-weight: 400;
    src: url(../develop/fonts/robotoslab-regular-webfont-webfont.woff2) format('woff2'),
         url(../develop/fonts/robotoslab-regular-webfont-webfont.woff) format('woff'),
         url(../develop/fonts/robotoslab-regular-webfont-webfont.ttf) format('ttf');
}
