@import url('./__nav/analytics-info__nav.css');
@import url('./__title/analytics-info__title.css');

.analytics-info {
    padding: 40px 0 80px 104px;
    margin: 0;
}

@media all and (max-width: 768px) {
    .analytics-info {
        padding: 32px 40px 32px;
        margin: 0;
    }
}

@media all and (max-width: 500px) {
    .analytics-info {
        padding: 16px;
    }
}